.mat-toolbar{
  background-color: #0f3d5c;
  height: 50px;
}

.mat-sidenav {
  background-color: #0f3d5c;
  width: 360px;
}

mat-list {
  padding: 0px;
  margin: 0px;
}

.back-icon {
  font-size: 1.5em;
  color: white;
}

p {
  color: white;
}
