<div class="loader" *ngIf="loaderBool">
  <app-loader></app-loader>
</div>

<div class="table" [hidden]="loaderBool">
  <div class="table__filters">
    <div class="table__search">
      <mat-form-field>
        <mat-label>Пошук авто</mat-label>
        <input 
          matInput 
          (keyup)="applyFilter($event)"
          placeholder="Введіть марку, номер або код для пошуку" 
          #input>
      </mat-form-field>
    </div>

    <div class="table__filter">
      <mat-form-field class="table__filter-param">
        <mat-label>Організація</mat-label>
        <input 
          matInput 
          (keyup)="organizationFilter($event)"
          placeholder="Введіть назву для пошуку" 
          #input>
      </mat-form-field>
  
      <mat-form-field class="table__filter-param">
        <mat-label>Підрозділ</mat-label>
        <input 
          matInput 
          (keyup)="departmentFilter($event)" 
          placeholder="Введіть номер для пошуку" 
          #input>
      </mat-form-field>
  
      <mat-form-field class="table__filter-param">
        <mat-label>Контрагент</mat-label>
        <input 
          matInput 
          (keyup)="contragentFilter($event)" 
          placeholder="Введіть ім'я для пошуку" 
          #input>
      </mat-form-field>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <ng-container matColumnDef="car">
        <th mat-header-cell *matHeaderCellDef> Транспортний засіб </th>
        <td mat-cell *matCellDef="let row"> {{row.Vehicle.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="code1c">
        <th mat-header-cell *matHeaderCellDef> Код </th>
        <td mat-cell *matCellDef="let row"> {{row.code1c}}% </td>
      </ng-container>
  
      <ng-container matColumnDef="driver">
        <th mat-header-cell *matHeaderCellDef> Водій </th>
        <td mat-cell *matCellDef="let row">
          <div *ngFor="let driver of row.Drivers">
            {{driver.name}}
          </div>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="organization">
        <th mat-header-cell *matHeaderCellDef> Організація </th>
        <td mat-cell *matCellDef="let row"> {{row.Vehicle.Organization.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef> Підрозділ </th>
        <td mat-cell *matCellDef="let row"> {{row.Vehicle.Department?.name}} </td>
      </ng-container>
  
      <ng-container matColumnDef="contragent">
        <th mat-header-cell *matHeaderCellDef> Контрагент </th>
        <td mat-cell *matCellDef="let row"> {{row.Vehicle.Contragent?.name}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  
    <mat-paginator [length]="2012" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
